body { padding-top: 70px; background-color: #fefefe;}

.simple-animation {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.unrevealed{
	opacity:0;
	padding-top:0;
	padding-bottom:0;
	margin:0;
	height:0; 
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.topics button{
	color:white;
	margin-top:5px;
}
.topics button:hover,.topics button:FOCUS{
	color:white;
	 -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
}
.collumnsx2{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
div[class*="profile-pic"]{
	width: 150px;
	max-height: 150px;
	overflow: hidden;
	
}
.profile-pic-large{
	width:100% !important;
	max-height: 250px !important;
}
.profile-thumb{
	width: 150px;
	margin:20px;
}
.profile-thumb>div{
	height: 200px;
}
.aligned-checkbox{
	float:left;
	width:189px;
}
@media (max-device-width: 480px) and (orientation: portrait) {
	.btn-group-justified button{
		font-size:11px;
	}
	.collumnsx2{
  		 -webkit-column-count: 1;
 	 	 -moz-column-count: 1;
 		 column-count: 1;
}
}
.status img{
	display: block;
    padding: 20px;
    margin: auto;
}

.status li.active{
	border:3px #337ab7;
	border-style:dotted;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
.myprogressbar {
    height: 20px;
    width: 100%;
    background-color: whitesmoke;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.currentProgress {
    background-color: #337ab7;
    height: 100%;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}
.progressbarheader{
	padding:0;
}
.progressbarheader li {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    text-align: center;
    margin: 8px 0;
    width: 16.66666666%;
    vertical-align: bottom;
}
.attachements a{
	margin:3px 15px 3px 0; 
}
.organisazion img{
	display: block;
	margin:auto;
}
.idea,.left-column,.organisazion,.topics{
	padding:12px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	margin-top: 10px;
}
.idea{
	-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.19);
}
.organisazion>div{
	margin:15px 0;
}
.profile{
	margin-right:18px;
	margin-left:18px;
	margin-bottom:25px;
}
.profile.ng-enter,.profile.ng-leave-active{
    opacity: 0;
}
.list-group-item.ng-enter,.list-group-item.ng-leave-active{
	max-height: 0;
	overflow: hidden;
	margin:0;
	padding:0;
}

.profile .profile-pic{
	opacity:0.85;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
}
.profile:hover .profile-pic{
	opacity:1;
	-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.19);
}
.profile p{
	text-align: center;
	margin:4px 0 !important;
}
.warning-absolute{
	position: fixed;
	top: 0;
	z-index:2000;
	text-align: center;
	width: 100%;
}
.project-list{
	margin-top: 25px;
	width:100%;
	float:left;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
}
.searchbar{
	max-width: 200px;
	margin:5px;
}
.marked-help{
	color: #333;
}
	