<div>
	<div ng-init="getUserByTopics();getTopics();" class="container">
		<div ng-show="warning!=undefined" class="alert alert-warning">{{warning}}
			<button type="button" class="close" ng-click="warning=undefined"><span aria-hidden="true">&times;</span></button>
		</div>
		<form class="well clearfix">
			<div class="form-group pull-left">
				<label>Should be interested in</label>
				<select	class="form-control" ng-model="topic" ng-options="topic.name for topic in availableTopics"  style="width: auto;">
					<option value="">All topics</option>	
				</select>
			</div>
			<div class="pull-left" style="margin-left: 20px;">
				<label>Full text search</label>
				<input type="text" class="form-control" placeholder="Find all matching members" ng-model="textFilter">
			</div>
			<div class="form-group pull-right" ng-init="langs = {'EN':false,'DE':false,'IT':false,'FR':false,'SL':false}">
				<label>Should speak</label>
				<div>
				<label class="checkbox-inline" ng-repeat="(lang,value) in langs">
					<input type="checkbox" value="{{lang}}" ng-checked="value" 
					ng-checked="selection.indexOf(fruitName) > -1" ng-click="langs[lang]=!langs[lang]">{{lang|lowercase}}
				</label>
				</div>
			</div>
		</form>
		<div style="margin-top: 25px">
			<div ng-repeat="user in userByTopics|filter:containsTopic|filter:knowsLang|orderBy:'surname'|filter:textFilter" class="pull-left profile simple-animation">
				<a ng-click="openModal('#contact-modal',user)" href="javascript:void(0)">
							<div class="profile-pic img-circle">
								<img ng-src="{{'user/profile-pic?user='+user.uuid}}" width="150px" />
							</div>
							<p>
								<span class="label label-default">{{user.name}} {{user.surname}}</span>
							</p>
							<p>
								<span class="label label-primary">{{user.organizations[0].name|limitText:25:'...'}}</span>
							</p>
				</a>
			</div>
			<div ng-show="objectIsEmpty(userByTopics)" class="alert alert-info" role="alert">
				If you can see this it means you need to<strong> <a href="#/profile">complete your profile informations</a></strong> before you can visualize other people which are interested in the same topics as you 
			</div>
		</div>
	</div>
</div>