<div>
	<div ng-init="getUserByTopics();getTopics();" class="container">
		<div ng-show="warning!=undefined" class="alert alert-warning">{{warning}}
			<button type="button" class="close" ng-click="warning=undefined"><span aria-hidden="true">&times;</span></button>
		</div>
		<h1>Get in touch with like-minded people</h1>
		<p>This platform was created to encourage <strong>collaboration and sharing of information</strong> between like-minded people of different organisations, with different skillsets but common interests.
		Share your interests and you will see a lot more people in this section. To find specific people you can also user the filter function in the navigation bar.
		</p>
		<form class="well clearfix">
			<div class="form-group pull-left">
				<label>Should be interested in</label>
				<select	class="form-control" ng-model="topic" ng-options="topic.name for topic in availableTopics"  style="width: auto;">
					<option value="">All topics</option>	
				</select>
			</div>
			<div class="form-group pull-right" ng-init="langs = {'EN':false,'DE':false,'IT':false,'FR':false,'SL':false}">
				<label>Should speak</label>
				<div>
				<label class="checkbox-inline" ng-repeat="(lang,value) in langs">
					<input type="checkbox" value="{{lang}}" ng-checked="value" 
					ng-checked="selection.indexOf(fruitName) > -1" ng-click="langs[lang]=!langs[lang]">{{lang|lowercase}}
				</label>
				</div>
			</div>
		</form>
		<div style="margin-top: 25px">
			<div ng-repeat="user in userByTopics|filter:containsTopic|filter:knowsLang|orderBy:'surname'|filter:textFilter" class="pull-left profile simple-animation">
				<a ng-click="openModal('#contact-modal',user)" href="javascript:void(0)">
							<div class="profile-pic img-circle">
								<img ng-src="{{'user/profile-pic?user='+user.uuid}}" width="150px" />
							</div>
							<p style="text-align: center;">
								<span class="label label-default">{{user.name}} {{user.surname}}</span><br/>
								<span class="label label-primary">{{user.organizations[0].name|limitText:25:'...'}}</span>
							</p>
				</a>
			</div>
			<div ng-show="objectIsEmpty(userByTopics)" class="alert alert-info" role="alert">
				If you can see this it means you need to<strong> <a href="#/profile">complete your profile informations</a></strong> before you can visualize other people which are interested in the same topics as you 
			</div>
		</div>
	</div>
	<div id="contact-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content clearfix">
			
				<div class="modal-body">
					<div class="row">
						<div class="col-md-5">
							<div class="profile-pic-large img-rounded">
								<img ng-src="{{'user/profile-pic?user='+ selectedUser.uuid}}" width="100%"/>
							</div>
						</div>
						<div class="col-md-7">
							<h4>{{selectedUser.name}} {{selectedUser.surname}}</h4>
							<p>
								{{selectedUser.organizations[0].name}}<br /> {{selectedUser.phone}}<br /> <a
									href="mailto:{{selectedUser.email}}">{{selectedUser.email}}</a>
							</p>
							<div class="clearfix">
								<div ng-repeat="topic in selectedUser.topics| orderBy:'name'"class="label pull-left"
									style="margin-bottom:5px;margin-right:5px; background-color: {{topic.color}}">{{topic.name}}</div>
							</div>
							<p>
								<span ng-repeat="lang in selectedUser.languageSkills"
									class="label label-default" style="margin-right: 5px;">{{lang}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>