<div class="container" ng-init="getMyUser();getIdea();">
	<div class="clearfix modal-body">
		<div class="btn-group btn-group-justified" role="group"	ng-init="getStatuses()">
			<div class="btn-group" role="group" ng-repeat="status in statuses">
				<button ng-class="idea.status==status?'btn btn-primary':'btn'">{{status}}</button>
			</div>
		</div>
		<div class="idea">
				<h1>{{idea.projectName}}</h1>
				<h4 ng-if="idea.author.name || idea.author.surname"><small>by <a href="#/profile/{{idea.author.uuid}}">{{idea.author.name}} {{idea.author.surname}}</a> {{idea.created_on|date}}</small></h4>
				<p class="collumnsx2">{{idea.projectDesc}}</p>
				<div class="form-group" ng-show="idea.fileNames.length>0" >
					<label>Details</label>
					<ul>
						<li ng-repeat="file in idea.fileNames |orderBy:'file' "><a href="{{me+'/files/'+idea.uuid+'/'+encode(file.substring(0,file.indexOf('.')))+'/'+file.substring(file.indexOf('.')+1)}}" target="_blank">{{file}}</a></li>
					</ul> 
				</div>
			</div>
		<div class="topics form-group">
			<button type="button" ng-repeat="topic in idea.topics" class="btn"
				style="margin-right: 5px; background-color: {{topic.color}}">{{topic.name}}</button>
		</div>
		<h3 ng-if="idea.fundings.length>0">Possible funding programs</h3>
		<div class="list-group-item" ng-repeat="funding in idea.fundings">
			<h4>
				<a href="{{funding.url}}" target="_blank">{{funding.url}}</a>
			</h4>
			<p>{{funding.description}}</p>
		</div>
		<div class="form-group" ng-if="idea.interestedOrganisazions.length>0">
			<h3>Interested organisations</h3>
			<ul>
				<li ng-repeat="org in idea.interestedOrganisazions" >
					{{org.name}}
				</li>
			</ul>
		</div>
		<div class="pull-right" style="margin-top:20px"  ng-init="getUser();">
			<a ng-show="isAdmin || isOwner" class="btn btn-primary" href="#/ideas/{{idea.uuid}}">Edit</a>
			<button ng-show="!follows" class="btn btn-primary" ng-click="follow()">
				<span >Follow</span>
			</button>
			<button ng-show="follows" class="btn btn-primary" ng-click="unfollow()">
				<span >Unfollow</span>
			</button>
		</div>
	</div>
	<div class="modal-footer">
			<div class="form-group row">
				<div class="col-md-1 col-xs-3">
					<img class="profile-pic img-rounded" src="user/profile-pic" style="max-width: 100%" />
				</div>
				<div class="col-md-11 col-xs-9">
					<textarea ng-model="commentText"  class=" form-control" rows="3" required="required" />
				</div> 
			</div>
			<div class="form-group">
				<button type="button" ng-click="comment()" class="btn btn-default">Comment</button>
			</div>
		</div>
	<div ng-repeat="comment in idea.comments | orderBy:'created_on':true" class="simple-animation">
		<div class="row">
			<div class="col-md-1 col-xs-3">
				<img class="profile-pic img-rounded"  style="max-width: 100%" ng-src="{{'user/profile-pic?user='+comment.author.uuid}}" />
			</div>
			<div class="col-md-11 col-xs-9"> 
				<h5>
					<strong>{{comment.author.name}} {{comment.author.surname}}</strong>
					<small>{{comment.created_on|date:'dd. MMM yyyy HH:mm'}}</small>
				</h5>
				<a ng-show="isAdmin && !comment.banned" type="button" class="close" confirmed-click="blockComment(comment)" ng-confirm-click="Should this comment really be blocked?"><span class="glyphicon glyphicon-ban-circle"></span></a>
				<p ng-if="!comment.banned">{{comment.text}}</p>
				<p ng-if="comment.banned" class="alert alert-warning">This comment was removed, due it's content not being retained adequate
				<a ng-show="isAdmin && comment.banned"type="button"class="close" confirmed-click="unblockComment(comment)" ng-confirm-click="Do you realy want to unblock this comment?"><span class="glyphicon glyphicon-leaf"></span></a>
				
				</p>
			</div>
		</div>
		
		<hr/>
	</div>
	<div ng-class="ideaSaved?'alert alert-success simple-animation':'unrevealed alert alert-success simple-animation'" role="alert">Success! Project idea was successfully saved</div>
</div>
