<div>
	<div class="container" ng-init="getIdea()">
		<div class="btn-group btn-group-justified" role="group"	ng-init="getStatuses()">
			<div class="btn-group" role="group" ng-repeat="status in statuses">
				<a ng-class="idea.status==status?'btn btn-primary':'btn'">{{status}}</a>
			</div>
		</div>
		<div class="idea">
				<h1>{{idea.projectName}}</h1>
				<p class="collumnsx2">{{idea.projectDesc}}</p>
				<div class="form-group" ng-show="idea.fileNames.length>0" >
					<label>Details</label>
					<ul>
						<li ng-repeat="file in idea.fileNames |orderBy:'file' "><a href="{{me}}/files/{{idea.uuid}}/{{file.substring(0,file.indexOf('.'))}}/{{file.substring(file.indexOf('.')+1)}}" target="_blank">{{file}}</a></li>
					</ul> 
				</div>
			</div>
			<div class="topics form-group">
				<button type="button"  ng-repeat="topic in idea.topics" class="btn" style="margin-right:5px;background-color:{{topic.color}}">{{topic.name}}</button>
			</div>
			<div class="form-group" ng-if="idea.fundings.length>0">
				<label for="project-fundings">Possible funding programs</label>
			</div>
			<div class="list-group">
			  <a href="{{funding.url}}" target="_blank" class="list-group-item" ng-repeat="funding in idea.fundings">
			    {{funding.description}}
			  </a>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<textarea ng-model="comment.text" class="form-control" rows="3" required="required" />
				</div>
				<div class="form-group">
					<a type="button" href="#/" class="btn">Back</a>
					<button type="submit" class="btn btn-primary">Comment</button>
				</div>
			</div>
			<div ng-class="ideaSaved?'alert alert-success simple-animation':'unrevealed alert alert-success simple-animation'" role="alert">Success! Project idea was successfully saved</div>
	</div>
</div>