<div class="container">
	<div class="pull-left" ng-init="list?getIdeas():'';">
		<button class="btn" ng-class="menu=='all'?'btn-primary':'btn-default'" type="submit" ng-click="list=true;menu='all';getIdeas()">All Projects</button>
		<button class="btn" ng-class="menu=='my'?'btn-primary':'btn-default'" type="submit" ng-click="getMyIdeas();menu='my';list=true">My Projects</button>
		<button class="btn" ng-class="menu=='fav'?'btn-primary':'btn-default'" type="submit" ng-click="getFavoriteIdeas();menu='fav';list=true">My Favorites</button>

		<button class="btn hidden-xs" ng-class="menu=='topic'?'btn-primary':'btn-default'" type="submit" ng-click="menu='topic';list=false;drawTree('graph-data-topics')">By Topics</button>
		<button class="btn hidden-xs" ng-class="menu=='state'?'btn-primary':'btn-default'" type="submit" ng-click="menu='state';list=false;drawTree('graph-data')">By Project Status</button>
	</div>
	<div class="pull-left"  style="margin-left: 20px;">
		<input type="text" class="form-control" placeholder="Find all matching projects" ng-model="textFilter">
	</div>
	<div ng-show="!list" id="display">
	
	</div>
	<div ng-show="list"> 
		<div class="input-group pull-right" style="max-width: 200px">
			<span class="input-group-addon">Order</span> 
			<select	ng-init="ideasorts =[{mod:'projectName',name:'Name'},{mod:'numberOfOrganisazions',name:'Followers'},{mod:'updated_on',name:'Creation Date'}];ideasort=ideasorts[0]" class="form-control" ng-model="ideasort" ng-options="sort.name for sort in ideasorts"  style="width: auto;"></select>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-init="order=false"
					ng-click="order=!order">
					<span ng-show="order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
					<span ng-show="!order" class="glyphicon glyphicon-sort-by-attributes"></span>
				</button>
			</span>
		</div>
		<div class="list-group" style="margin-top: 25px; width:100%;float:left">
			<a ng-repeat="idea in ideas| orderBy:ideasort.mod:order|filter:textFilter" class="list-group-item" href="#/idea/{{idea.uuid}}">
				<div class="row">
					<div class="col-md-5">
						<h4 class="list-group-item-heading" >{{idea.projectName}} <small class="badge" style="background-color: #5bc0de">{{idea.numberOfOrganisazions}}</small></h4>
						<div class="label label-default">{{idea.status}}</div>
					</div>
					<div class="col-md-7">
						<div ng-repeat="topic in idea.topics|orderBy:'name':true" class="label label-default pull-right" style="margin-right:5px;background-color: {{topic.color}}">{{topic.name}}</div>
					</div>
				</div>
				<p class="list-group-item-text">{{idea.projectDesc|limitText:500:'...'}}</p>
				
			</a>
		</div>
	</div>
</div>