<div class="container" ng-init="list=false">
	<button class="btn btn-default" type="submit" ng-click="list=false;drawTree('graph-data-topics')">By Topics</button>
	<button class="btn btn-default" type="submit" ng-click="list=false;drawTree('graph-data')">By Project state</button>
	<button class="btn btn-default" type="submit" ng-click="list=true;getIdeas()">All projects as List</button>
	<button class="btn btn-default" type="submit" ng-click="getMyIdeas();list=true">My projects</button>
</div>
<div ng-if="!list" id="display" ng-init="drawTree()" class="container">

</div>
<div ng-if="list"  class="container">
	<div class="pull-right">
			<span>Order by:</span>
			<button class="btn btn-default" type="submit" ng-click="sort='projectName';order=false">Name</button>
			<button class="btn btn-default" type="submit" ng-click="sort='numberOfOrganisazions';order=true">Follower</button>
	</div>
	<div ng-init="sort='projectName';order=false" class="list-group" style="margin-top: 35px">
		<a ng-repeat="idea in ideas| orderBy:sort:order|filter:textFilter" class="list-group-item" href="#/idea/{{idea.uuid}}">
			<h4 class="list-group-item-heading">{{idea.projectName}} <small class="badge" style="background-color: #5bc0de">{{idea.numberOfOrganisazions}}</small></h4>
			<p class="list-group-item-text">{{idea.projectDesc}}</p>
		</a>
	</div>
</div>