 <div class="container">
 	<div ng-show="warning!=undefined" class="alert alert-warning">{{warning}}
			<button type="button" class="close" ng-click="warning=undefined"><span aria-hidden="true">&times;</span></button>
	</div>
	 <form ng-submit="resetPassword()" class="form-inline">               
	     <fieldset>
	         <legend>Reset Password</legend>
	         <div class="form-group">
	         	<label  class="sr-only"  for="username">Current password</label>
	         	<input type="password" class="form-control" ng-model="oldpw" placeholder="Current password" required="required"/>
	         </div>  
	         <div class="form-group">      
	         	<label  class="sr-only"  for="password">New password</label>
	         	<input type="password" class="form-control" ng-model="newpw" placeholder="New password" required="required"/>
	         </div>    
	         <button type="submit" class="btn btn-default">Reset</button>
	     </fieldset>
	 </form>
	 <div ng-show="success!=undefined" class="alert alert-success" style="margin-top: 20px" role="alert">Success! Your password was reset.</div>
	 
</div>