<div ng-init="user = {topics:[],languageSkills:[]}">
	<div ng-init="getProfile()" class="container">
		<div ng-show="warning!=undefined" class="alert alert-warning">{{warning}}
			<button type="button" class="close" ng-click="warning=undefined"><span aria-hidden="true">&times;</span></button>
		</div>
		<form ng-submit="updateProfile()" class="form-horizontal" name="profile">
			<div class="modal-header">
				<h4 class="modal-title">Profile</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Name</label> 
					<div class="col-sm-10">
						<input type="text" class="form-control"	placeholder="Name" ng-model="user.name" name="name" ng-maxlength="200">
						<div ng-messages="profile.name.$error">
							<div ng-message="maxlength" class="alert alert-warning">Your first name shouldn't be longer than 200 characters</div>
						</div>
					</div>

				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Surname</label>
					<div class="col-sm-10"> 
						<input type="text" class="form-control"	placeholder="Surname" name="surname" ng-model="user.surname" ng-maxlength="200">
						<div ng-messages="profile.surname.$error">
							<div ng-message="maxlength" class="alert alert-warning">Your surname shouldn't be longer than 200 characters</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Phone</label>
					<div class="col-sm-10"> 
						<input type="text" class="form-control"	placeholder="Phone" ng-model="user.phone" ng-maxlength="200" name="phone">
						<div ng-messages="profile.phone.$error">
							<div ng-message="maxlength" class="alert alert-warning">Your phone number shouldn't be longer than 200 characters</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Profile pic</label>
					<div class="col-sm-4">
						<button ngf-select="true" ng-model="profilepic" type="button" ngf-accept="'.png,.jpg'"  ngf-multiple="false" ngf-max-size='1048576'>Upload files</button>
						<p class="help-block">Only png and jpg files &lt;1MB  are supported</p>
						<p>{{profilepic[0].name}}</p>
					</div>
					<div class="col-sm-6">
						<img class="profile-pic" ngf-src="profilepic[0]"  ngf-default-src="user/profile-pic" ngf-accept="'.png,.jpg'" /> 
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Main Topics</label> 
					<div class="col-sm-10">
						<div class="checkbox" ng-repeat="topic in availableTopics">
							<label> <input type="checkbox" ng-click="toggleTopic(topic)" ng-checked="isTopic(topic.name)">{{topic.name}} </label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Language skills</label> 
					<div class="col-sm-10">
						<div class="checkbox" ng-repeat="lang in languageSkills">
							<label> <input type="checkbox" ng-click="toggleLang(lang)" ng-checked="containsLanguage(lang)">{{lang}} </label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<div class="col-sm-offset-11 col-sm-1">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</form>
		<div ng-class="ideaSaved?'alert alert-success simple-animation':'unrevealed alert alert-success simple-animation'" role="alert">Success! Your profile was successfully updated</div>
		
	</div>
</div>