<div>
	<div ng-init="getUser()" class="container">
		<div ng-show="warning!=undefined" class="alert alert-warning">{{warning}}
			<button type="button" class="close" ng-click="warning=undefined"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="clearfix" >
			<form class="form-inline pull-left" ng-init="user = {organizations:[]}" ng-submit="createUser()">
				<div class="form-group">
					<label class="sr-only">Name</label> 
					<input ng-model="user.email" type="email" class="form-control" placeholder="Email" required="required">
				</div>
				<div ng-if="isAdmin" class="form-group" ng-init="getOrganisations()">
					<label class="sr-only">Organisation</label>
					 
					<select ng-model="user.organizations[0].name" class="form-control" required="required">
						<option  ng-repeat="org in organisations|orderBy:'name'">{{org.name}}</option>
					</select>
				</div>
				<button type="submit" class="btn btn-default" style="background-color:{{newTopic.color}}">Create new user</button>
			</form>
			<div class="input-group pull-right" style="max-width: 200px">
  				<span class="input-group-addon">Order</span>
				<select  ng-init="usersorts =['email','active','role'];usersort='email'" class="form-control" ng-model="usersort" ng-options="sort for sort in usersorts" style="width: auto;" ></select>
				<span class="input-group-btn">
        			<button class="btn btn-default" type="button" ng-init="order=false" ng-click="order=!order">
        				<span ng-show="order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
						<span ng-show="!order" class="glyphicon glyphicon-sort-by-attributes"></span>
        			</button>
      			</span>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Email</th>
						<th ng-show="isAdmin">Role</th>
						<th ng-show="isAdmin" >Organisation</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users | filter:textFilter | orderBy: usersort:order">
						<td>{{user.email}}</td>
						<td>
							<div ng-show="isAdmin && user.role!='ADMIN'">
								{{user.role}}
								<a href="javascript:void(0)" ng-click="promote(user.email)" title="Upgrade to manager" ng-show="{{user.role=='USER'}}" class="glyphicon glyphicon-chevron-up"></a>
								<a href="javascript:void(0)" ng-click="demote(user.email)" title="Downgrade to user" ng-show="{{user.role=='MANAGER'}}"class="glyphicon glyphicon-chevron-down"></a>
							</div>
						</td>
						<td ng-show="isAdmin">
							<div ng-if="isAdmin" class="form-group"
								ng-init="getOrganisations()">
								<label class="sr-only">Organisation</label> 
								<select	ng-model="user.organizations[0]" ng-change="updateOrganisazion(user)" class="form-control" ng-options="org.name for org in organisations|orderBy:'name' track by org.name">
								</select>
							</div>
						</td>
						<td>
							<div ng-show="isManager && user.role!='ADMIN'">
								<a ng-show="user.active" title="Deactivate user" class="btn glyphicon glyphicon-ban-circle" ng-click="deactivateUser(user.email)" ></a>
								<a ng-show="!user.active" title="Activate user" class="btn glyphicon glyphicon-leaf" ng-click="activateUser(user.email)" ></a>
							</div>
						</td>
						<td><a ng-show="isManager && user.role!='ADMIN'" title="Delete user" class="btn glyphicon glyphicon-remove"  confirmed-click="deleteUser(user.email)" ng-confirm-click="Are you sure you want to delete this user?" ></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>