<!DOCTYPE html>
<html ng-app="alps">
<head>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="styles/app.css" />
<link rel="stylesheet" type="text/css" href="styles/angular-datepicker.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="js/jquery.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/angular.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/angular-route.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/angular-messages.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/angular-cookies.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/angular-sanitize.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/app.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/bootstrap.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/d3.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/ng-file-upload.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<script src="js/angular-datepicker.min.js" type="text/javascript"><!-- required for FF3 and Opera --></script>
<meta charset="utf-8"/>
</head>
<body ng-init="getPrincipal()">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">Projects</a>
			</div>
	
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="javascript:void(0)" data-toggle="modal" data-target="#idea-modal" >New Project</a></li>
					<li><a href="#/contact">Members</a></li>
					<li><a ng-show="isManager" href="#/user">User Management</a></li>
					<li><a ng-show="isAdmin" href="#/topics">Topics</a></li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Filter" ng-model="textFilter">
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/help">Help</a></li>
					<li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">My Profile<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/profile">Edit</a></li>
							<li><a href="#/pw-reset">Change Password</a></li>
							<li><a href="resources/j_spring_security_logout">Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
	<div ng-controller="RootCtrl">
		<div ng-view>
		</div>
		<div class="modal fade" id="idea-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Project Idea</h4>
					</div>
					<form ng-submit="createProjectIdea()" name="projectidea" novalidate>
						<div class="modal-body" ng-init="idea={projectName:'',projectDesc:'',topics:[],fundings:[]}">
							<div class="form-group">
								<label for="project-name">Project name</label> 
								<input type="text" class="form-control" ng-model="idea.projectName" name ="name" id="project-name" placeholder="Name" required="required" ng-maxlength="200" />
								<div ng-messages="projectidea.name.$error" multiple>
									<div ng-message="required" class="alert alert-warning">This field is required. Please fill it out</div>
									<div ng-message="maxlength" class="alert alert-warning">The title shouldn't be longer than 200 characters</div>
								</div>
							</div>
							<div class="form-group">
								<label for="project-desc">Project description</label> 
								<textarea id ="project-desc" ng-model="idea.projectDesc" ng-maxlength="3750" name="description" class="form-control" rows="5" placeholder="Description" required="required" ng-minlength="8" ></textarea>
								<div ng-messages="projectidea.description.$error" multiple>
									<div ng-message="required" class="alert alert-warning">This field is required. Please fill it out</div>
									<div ng-message="minlength" class="alert alert-warning">Please describe your Project with at least a sentence</div>
									<div ng-message="maxlength" class="alert alert-warning">The title shouldn't be longer than 3750 characters</div>
								</div>
							</div>
							<div class="form-group">
								<label for="objectives">Objectives and Aims</label> 
								<textarea id ="objectives" ng-model="idea.objectives" name="objectives" class="form-control" rows="3" placeholder="Objectives and Aims" required="required" ng-minlength="8" ng-maxlength="1875"></textarea>
								<div ng-messages="projectidea.objectives.$error" multiple>
									<div ng-message="required" class="alert alert-warning">This field is required. Please fill it out</div>
									<div ng-message="minlength" class="alert alert-warning">Please describe the objective and aims of the project with at least a sentence</div>
									<div ng-message="maxlength" class="alert alert-warning">Maximum character count of 1875 reached</div>
								</div>
							</div>
							<div class="form-group">
								<label for="measures">Activities and Measures</label> 
								<textarea id ="measures" ng-model="idea.measures" name="measures" class="form-control" rows="3" placeholder="Activities and Measures" required="required" ng-minlength="8" ng-maxlength="1875"></textarea>
								<div ng-messages="projectidea.measures.$error" multiple>
									<div ng-message="required" class="alert alert-warning">This field is required. Please fill it out</div>
									<div ng-message="minlength" class="alert alert-warning">Please describe the activities and measures of the project with at least a sentence</div>
									<div ng-message="maxlength" class="alert alert-warning">Maximum character count of 1875 reached</div>
								</div>
							</div>
							<div class="form-group">
								<label for="objectives">Outputs and Results</label> 
								<textarea id ="project-desc" ng-model="idea.outputs" name="outputs" class="form-control" rows="3" placeholder="Outputs and Results" required="required" ng-minlength="8" ng-maxlength="1875"></textarea>
								<div ng-messages="projectidea.outputs.$error" multiple>
									<div ng-message="required" class="alert alert-warning">This field is required. Please fill it out</div>
									<div ng-message="minlength" class="alert alert-warning">Please describe the outputs and results of the project with at least a sentence</div>
									<div ng-message="maxlength" class="alert alert-warning">Maximum character count of 1875 reached</div>
								</div>
							</div>
							<div class="form-group">
								<label for="target">Target Group</label> 
								<textarea id ="target" ng-model="idea.target" name="target" class="form-control" rows="3" placeholder="Target Group" required="required" ng-minlength="8" ng-maxlength="1875"></textarea>
								<div ng-messages="projectidea.target.$error" multiple>
									<div ng-message="required" class="alert alert-warning">This field is required. Please fill it out</div>
									<div ng-message="minlength" class="alert alert-warning">Please describe the outputs and results of the project with at least a sentence</div>
									<div ng-message="maxlength" class="alert alert-warning">Maximum character count of 1875 reached</div>
								</div>
							</div>
							<div class="form-group">
								<label for="budget">Total Project Budget</label>
								<div class="input-group col-md-3">
									<input type="number" ng-model="idea.budget" name="budget" class="form-control" placeholder="Total Project Budget" min="0"required="required">
									<span class="input-group-addon">&euro;</span>
								</div>
								<div ng-messages="projectidea.budget.$error" multiple>
									<div ng-message="required" class="alert alert-warning">This field is required. Please fill it out</div>
									<div ng-message="min" class="alert alert-warning">Budget can not be negative</div>
									<div ng-message="number" class="alert alert-warning">Budget must be a number</div>
								</div>
							</div>
							<div class="form-group clearfix" ng-init="getTopics()">
								<label for="project-topics">Associated Topics</label> 
								<div class="row">
									<div class="col-md-3 col-xs-8">
										<input type="text" class="form-control" ng-model="topicFilter"  placeholder="Filter topics"/>
									</div>
								</div> 
								<div class="checkbox aligned-checkbox" style="margin-top:5px" ng-repeat="topic in availableTopics" ng-class="{'hidden': isHidden(topic)}">
									<label> <input type="checkbox" ng-click="toggleTopic(topic)">{{topic.name}}</label>
								</div>
							</div>
							<div class="form-group">
								<label for="project-fundings">Possible funding programms</label>
								<button type="button" class="btn" ng-click="idea.fundings.push({url:'http://',desc:''})"><span class="glyphicon glyphicon-plus" ></span></button>
							</div>
							<div class="form-group">
								<div class="well" ng-repeat="funding in idea.fundings"> 
									<button type="button" class="btn pull-right" style="margin:5px 0" ng-click="idea.fundings.splice($index,1)"><span class="glyphicon glyphicon-minus"></span></button>
									<div class="form-group">
										<label>Link to the call</label> 
										<input type="url" class="form-control" ng-model="funding.url" required="required"/>
									</div>
									<div class="form-group">
										<label for="project-desc">Call description</label> 
										<textarea id ="project-desc" class="form-control" rows="3" placeholder="Description" ng-model="funding.desc"></textarea>
									</div>
									<div class="form-group">
										<label for="deadline">Call deadline</label> 
										<div class="input-group col-md-3">
											<datepicker date-format="dd/MM/yyyy">
												<input type="text" id ="deadline" class="form-control" placeholder="Deadline" ng-model="funding.deadline" required="required" ></input>
											</datepicker>
										</div>
									</div>
									<div class="form-group">
										<label for="cofinance">Co-financing rate</label>
										<div class="input-group col-md-3">
											<input type="number" id ="cofinance" ng-init="funding.cofinance=100" class="form-control" min="0" max="100" placeholder="Co-financing rate" ng-model="funding.cofinance"></input>
											<span class="input-group-addon">%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="exampleInputFile">Attachements</label> 
								<button ngf-select="true" ng-model="files" type="button" ngf-multiple="true" >Upload files</button>
								<p class="help-block">to select multiple files, hold down the CTRL or SHIFT key while selecting</p>
								<div ng-if="files.length>0">
									<label> Files:</label>
									<span ng-repeat="file in files"><span ng-if="$index!=0">,</span> {{file.name}}</span>
								</div>
							</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
